* {
    padding: 0;
    margin: 0;
    list-style: none;
    border: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.popularHead{
    margin: 2rem;
}

body{
    background-color: rgb(3, 3, 51);
    color: rgb(221, 216, 216);
    font-family: Arial, Helvetica, sans-serif;
}